# Default ignored files
config_private.py
chat_online.py
/ico/anagpt.pptx
.idea
/history
/envs/test
/system/
/models/chatglm/
/models/chinese_alpaca/
/models/chinese_chat_llama/
/models/gpt4free/
/models/gpt_for_all/
/models/vicuna/
