# Default ignored files
config_private.py
chat_online.py
/ico/anagpt.pptx
.idea
/history/
/files/
/envs/test
/system/
/models/chatglm/
/models/chatglm2/
/models/chinese_alpaca/
/models/chinese_chat_llama/
/models/gpt4free/
/models/gpt_for_all/
/models/vicuna/
/models/chinese_vicuna/
/models/palm/
/models/stablelm/
